API_SERVER_KEY={{ business_hermes_chat_api_key }}
HERMES_INFERENCE_PROVIDER=business-chat-dgx
BUSINESS_HERMES_CHAT_DGX_TOKEN={{ business_hermes_chat_dgx_token }}
BUSINESS_HERMES_MCP_API_KEY={{ business_hermes_chat_mcp_api_key }}
