TORQUE_API_BASE_URL={{ torque_agent_api_base_url }}
TORQUE_CLIENT_KEY={{ torque_agent_client_key }}
TORQUE_QUEUE_PATH=/data/torque-events.sqlite3
TORQUE_LOCAL_PORT={{ torque_agent_local_port | default(7073) }}
TORQUE_HEARTBEAT_TTL_SECONDS={{ torque_agent_heartbeat_ttl_seconds | default(8) }}
TORQUE_BROWSER_ORIGINS_JSON={{ torque_agent_browser_origins | default([]) | to_json }}
TORQUE_HID_DEVICES_JSON={{ torque_agent_hid_devices | to_json }}
TORQUE_ENABLE_SYNTHETIC_FIXTURE=false
