SIGNAGE_USER={{ ansible_user | to_json }}
SIGNAGE_USER_HOME={{ ('/home/' ~ ansible_user) | to_json }}
SIGNAGE_SERVER_URL={{ signage_server_url | default('https://192.168.128.131') | to_json }}
SIGNAGE_IMAGE_CLIENT_KEY={{ signage_client_key | default('') | to_json }}
SIGNAGE_STATUS_CLIENT_ID={{ status_agent_client_id | default('') | to_json }}
SIGNAGE_STATUS_CLIENT_KEY={{ status_agent_client_key | default('') | to_json }}
SIGNAGE_ALLOW_INSECURE_TLS={{ '1' if signage_allow_insecure_tls | default(true) | bool else '0' }}
