all:
  children:
    server:
      hosts:
        raspberrypi5:
          ansible_host: 192.168.128.131
          ansible_user: denkon5sd02
          ansible_connection: local  # ローカル実行のため
    clients:
      hosts:
        raspberrypi4:
          ansible_host: 192.168.128.102
          ansible_user: tools03
        raspberrypi3:
          ansible_host: 192.168.128.152
          ansible_user: signageras3
      vars:
        ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
        ansible_python_interpreter: /usr/bin/python3
